Flask==2.3.3
Werkzeug==2.3.7
Jinja2==3.1.2
MarkupSafe==3.0.2
itsdangerous==2.2.0
click==8.2.1
blinker==1.9.0
pandas==2.2.3
openpyxl==3.1.5
numpy==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.2
tzdata==2025.1
python-dotenv==1.0.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
googleapis-common-protos==1.72.0
google-api-core==2.28.1
httplib2==0.31.0
uritemplate==4.2.0
requests==2.32.3
requests-oauthlib==2.0.0
oauthlib==3.3.1
rsa==4.9.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
urllib3==2.3.0
proto-plus==1.26.1
protobuf==6.33.0
cachetools==6.2.1
Pillow==12.0.0
wfastcgi
