<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="G:\www\TicketX\venv\Scripts\python.exe|G:\www\TicketX\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="G:\www\TicketX" />
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="WSGI_LOG" value="G:\www\TicketX\logs\wfastcgi.log" />
  </appSettings>
</configuration>